{% extends "base.html" %}

{% block title %}ATL - Booking{% endblock %}

{% block content %}

    <div class="container mt-5">    
        <h2 class="mb-3">Make a Booking</h2>
        {% if error %}
            <p style="background: linear-gradient(to right, #ff7e5f, #feb47b); color: transparent; font-size: 2em; -webkit-background-clip: text;">{{ error }}</p>
        {% else %}
        <form method="POST" action="{{url_for('makebooking')}}" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="customerid" class="form-label">Choose Customer:</label>
                <select name="customerid" id="customerid" class="form-select">
                    {% for customer in customers %}
                        <option value="{{ customer.customerid }}">{{ customer.firstname }} {{ customer.familyname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="tourgroupid" class="form-label">Choose Tour Group:</label>
                <select name="tourgroupid" id="tourgroupid" class="form-select">
                    {% for tourgroup in tourgroups %}
                        <option value="{{ tourgroup.tourgroupid }}">{{ tourgroup.tourname }} ({{ tourgroup.startdate }})</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Booking Now</button>
        </form>
        {% endif %}
    </div>

{% endblock %}