{% extends "base.html" %}

{% block title %}ATL - Booking{% endblock %}

{% block content %}

<body>
    <span class="badge text-bg-primary" style="font-size: 16px;">Booking: Select City Destination</span>
    <select class="form-select">
        {% for dest in destinations %}
        <option value="{{dest['destinationid']}}">{{dest['destinationname']}},{{dest['destinationid']}}</option>
        {% endfor %}
    </select>
    <span class="badge rounded-pill text-bg-success">Customer</span>
    <br/>
    <span class="badge text-bg-primary">Booking: Select Tours Destination</span>
</body>

{% endblock %}