{% extends "base.html" %}

{% block title %}ATL - Tour Customers{% endblock %}

{% block content %}

<!-- Display a list of the customers on the tour -->
<table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Family Name</th>
        <th scope="col">DoB</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
      <tr>
        <th scope="row">{{ customer['customerid'] }}</th>
        <td>{{ customer['firstname'] }}</td>
        <td>{{ customer['familyname'] }}</td>
        <td>{{ customer['dob'] }}</td>
        <td>{{ customer['email'] }}</td>
        <td>{{ customer['phone'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}