{% extends "base.html" %}

{% block title %}ATL - Tour Customers{% endblock %}

{% block content %}

<!-- Display a list of the customers on the tour -->
<div class="container mt-5">
    <div class="container">
        <span class="badge text-bg-warning" style="font-size: 16px;">Tour Name： {{ tourname }}， Start Date: {{ startdate
            }}</span>
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tour ID</th>
                    <th scope="col">Tour Name</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Family Name</th>
                    <th scope="col">DoB</th>
                    <th scope="col">Destination ID</th>
                    <th scope="col">Destination Name</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customerlist %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ customer['tourid'] }}</td>
                    <td>{{ customer['tourname'] }}</td>
                    <th scope="row">{{ customer['customerid'] }}</th>
                    <td>{{ customer['firstname'] }}</td>
                    <td>{{ customer['familyname'] }}</td>
                    <td>{{ customer['dob'] }}</td>
                    <td>{{ customer['destinationid'] }}</td>
                    <td>{{ customer['destinationname'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}